/*Inicio*/

.contenedor-principal{
    background-image: url('../imagenes/Curve\ Line.svg');
    max-width: 100%;
    height: 55rem;
    filter: brightness(.7);
}



.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    a{
        list-style: none;
        text-decoration: none;
        color: #000;
        font-size: 2rem;
    }
    li{
        list-style-type: none;
        margin-right: 2rem;
    }
    
}

.navbar-item{
    display: flex;
    background-color: wheat;
    padding: 2rem 5rem;
    margin-top: 2rem;
    border-radius: 1rem;
    a{
        position: relative;
    }
}


.navbar-item  a::before{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color:#01161e;
    /*ANIMACION DE DERECHA A IZQUIERDA*/
    transform-origin: right;
    transform: scale(0);
    transition: transform .3s ease-in-out;
}

.navbar-item  a:hover:before{
    /*ANIMACION DE DERECHA A IZQUIERDA*/
    transform-origin: left;
    transform: scale(1);
}
.contenido-header{
    display: flex;
}
.imagen-header{
    display: flex;
    justify-content: start;
    margin: 4rem 5rem;
    img{
        height: 47rem;
        border-radius: 20rem 4rem 10rem;
    }
}

.texto-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 13rem 5rem;
    gap: 3rem;
    h1{
        color: aliceblue;
        word-spacing: .5rem;
        font-size: 3rem;
    }
    p{
        color: aliceblue;
        font-size: 2rem;
    }
    a{
        text-decoration: none;
        color: #000;
        font-size: 2rem;
    }
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    height: 4rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    transition: ease-in-out .3s;
    position: relative;
}

.btn:hover{
    transform: scale(1.123) rotate(1deg);
    color: #000;
    background-color: beige;
}



