@media screen and (max-width:1024px) {
    
    .contenido-header{
        height: 70rem;
        margin: -14rem 0rem;
    }
    
    .texto-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 14rem;
        h1{
            font-size: 2.5rem;
            width: auto;
        }
    }
    .imagen-header{
        img{
            height: 37rem;
        }
    }
    .texto-tipos{
        p{
            font-size: 2.1rem;
        }
    }
    .contenido-oportunidad{
        display: flex;
        flex-direction: column;
    }
    .carrusel-fotos{
        img{
            object-fit: cover;
            width: 60rem;
        }
    }
    .carrusel-menu{
        display: flex;
        gap: 1.5rem;
    }
    @keyframes slide-carrusel {
        0%{margin-left: 0%;}
        20%{margin-left: 0%;}
    
        25%{margin-left: -110%;}
        45%{margin-left: -110%;}
    
        50%{margin-left: -217%;}
        70%{margin-left: -217%;}
    
        75%{margin-left: -333%;}
        95%{margin-left: -333%;}
    
        98%{margin-left: -437%;}
        100%{margin-left: -437%;}
    }
    .datos-ubicacion{
        display: flex;
        flex-direction:  column-reverse;
    }
    .codigo-postal{
        display: flex;
        flex-direction: column;
        h2{
            text-align: center;
        }
    }
}

@media (min-width:640px) and (max-width:768px) {

    .texto-header{
        
        h1{
            font-size: 2.5rem;
            width: auto;
        }
    }
    .imagen-header{
        margin: 4rem 1rem;
        img{
            height: 27rem;
        }
    }
    .titulo-nosotros{
        p{
            font-size: 1.5rem;
        }
        img{
            height: 3rem;
        }
    }
    .texto-nosotros{
        p{
            font-size: 1.5rem;
        }
    }
    .texto-razones{
        h2{
            font-size: 2.5rem;
        }
        p{
            font-size: 1.5rem;
        }
    }
    .texto-tipos{
        h2{
            font-size: 2.5rem;
        }
        p{
            font-size: 1.3rem;
        }
    }
    .texto-franchise{
        h2{
            font-size: 3rem;
        }
        h3{
            font-size: 2rem;
        }
        img{
            height: 3rem;
        }
    }
    .contenido-oportunidad{
        display: flex;
        flex-direction: column;
    }
    .titulo-oportunidad{
        h2{
            font-size: 3rem;
        }
    }
    .texto-oportunidad{
        p{
            margin: 0 5rem;
            font-size: 2rem;
        }
    }
    .llamada{
        margin: 0 5rem;
    }
    .carrusel-fotos{
        img{
            object-fit: cover;
            width: 60rem;
        }
    }
    .carrusel-menu{
        display: flex;
        gap: 1.5rem;
    }
    @keyframes slide-carrusel {
        0%{margin-left: 0%;}
        20%{margin-left: 0%;}
    
        25%{margin-left: -110%;}
        45%{margin-left: -110%;}
    
        50%{margin-left: -217%;}
        70%{margin-left: -217%;}
    
        75%{margin-left: -333%;}
        95%{margin-left: -333%;}
    
        98%{margin-left: -437%;}
        100%{margin-left: -437%;}
    }
    .datos-ubicacion{
        display: flex;
        flex-direction:  column-reverse;
    }
    .codigo-postal{
        display: flex;
        flex-direction: column;
        h2{
            text-align: center;
        }
    }
    .titulo-contacto{
        h2{
            font-size: 3rem;
        }
        h4{
            font-size: 2rem;
        }
    }
}

@media (min-width:400px) and (max-width:640px) {
    .navbar{
        a{
            font-size: .9rem;
            font-weight: 200;
        }
        width: 40rem;
    }
    .navbar-item{
        padding: 2rem 1rem;
    }

    .texto-header{
        
        h1{
            font-size: 1.5rem;
            width: auto;
        }
        p{
            font-size: 1.2rem;
            width: 35rem;
        }
        a{
            font-size: 1.1rem;
        }
    }
    .imagen-header{
        margin: 4rem 1rem;
        img{
            height: 27rem;
        }
    }
    .titulo-nosotros{
        h2{
            font-size: 1.5rem;
        }
        p{
            font-size: 1.1rem;
        }
        img{
            height: 1.5rem;
        }
    }
    .texto-nosotros{
        p{
            font-size: 1.5rem;
        }
    }
    .razones{
        background-position: 50%;
    }
    .texto-razones{
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.5rem;
        }
    }
    .texto-tipos{
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1rem;
        }
    }
    .caja-cafe{
        img{
            height: 15rem;
        }
        h4{
            font-size: 1.4rem;
        }
        font-size: 1.4rem;
    }
    @keyframes slide{
        0%{margin-left: 0%;}
        15%{margin-left: 0%;}
    
        20%{margin-left: -200%;}
        25%{margin-left: -200%;}
    
        30%{margin-left: -300%;}
        35%{margin-left: -300%;}

        40%{margin-left: -405%;}
        45%{margin-left: -405%;}

        50%{margin-left: -510%;}
        55%{margin-left: -510%;}
    
        60%{margin-left: -610%;}
        65%{margin-left: -610%;}

        70%{margin-left: -720%;}
        73%{margin-left: -750%;}
        75%{margin-left: -850%;}

        80%{margin-left: -900%;}
        83%{margin-left: -950%;}
        85%{margin-left: -1000%;}

        90%{margin-left: -1100%;}
        95%{margin-left: -1200%;}
        100%{margin-left: -1300%;}

    
    
    }
    .texto-franchise{
        h2{
            font-size: 1.5rem;
        }
        h3{
            font-size: 1.1rem;
        }
        p{
            font-size: 1.5rem;
        }
        img{
            height: 3rem;
        }
    }
    .contenido-oportunidad{
        display: flex;
        flex-direction: column;
    }
    .titulo-oportunidad{
        h2{
            font-size: 1.5rem;
        }
    }
    .texto-oportunidad{
        p{
            margin: 0 5rem;
            font-size: 1.5rem;
        }
    }
    .llamada{
        margin: 0 5rem;
    }
    .carrusel{
        width: 38rem;
    }
    .carrusel-fotos{
        img{
            object-fit: cover;
            width: 40rem;
        }
    }
    
    .carrusel-menu{
        display: flex;
        gap: 1.5rem;
        img{
            width: 5rem;
            height: 4rem;
        }
    }
    @keyframes slide-carrusel {
        0%{margin-left: 0%;}
        20%{margin-left: 0%;}
    
        25%{margin-left: -109%;}
        45%{margin-left: -109%;}
    
        50%{margin-left: -215%;}
        70%{margin-left: -215%;}
    
        75%{margin-left: -322%;}
        95%{margin-left: -322%;}
    
        98%{margin-left: -431%;}
        100%{margin-left: -431%;}
    }
    .datos-ubicacion{
        display: flex;
        flex-direction:  column-reverse;
    }
    .codigo-postal{
        display: flex;
        flex-direction: column;
        h2{
            text-align: center;
        }
    }
    .titulo-contacto{
        h2{
            font-size: 2rem;
        }
        h4{
            font-size: 1.5rem;
        }
    }
    .codigo{
        p{
            font-size: 1.1rem;
        }
    }
    .mail-codigo{
        a{
            font-size: 1.1rem;
        }
    }
    .mapa{
        iframe{
            height: 30rem;
            width: auto;
        }
    }
    .icono-fb{
        img{
            height: 2rem;
        }
    }
    .derechos{
        p{
            font-size: 1.5rem;
        }
    }
}

